@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, 0.85)
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', serif;g
	font-weight: 400;
	background-color: white;
	
}


/* -----------------------------------------------------HEADER------------------------------------------------ */

header {
  background-image: url("../images/header_back.png");
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
  display: auto;
}

h1 {
	position: relative;
	line-height: 20px;
}




.logosmall {
	display: none;
}

/*-----------------------------------------NAVBAR----------------------------------------- */
nav {
  position: absolute;
  text-align: right;
  right: 0px;
  width: 100%;
  top: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  background: rgba(0,0,0,0.73);
  padding-top: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
	
  
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
	
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
	
}

nav a:hover {
  color: #89F0E7;
}


/*---------------------------------------------NAVBAR HAMBORGIR MENU SHIT----------------------------------------- */


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  cursor: pointer;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0%;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 5px;
  width: 2.8em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 12px;
}

.nav-toggle-label span::after {
  top: 12px;
}



.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}




/*------------------------------------------LOGO ETC---------------------------------------- */

.logo a {
	text-decoration: none;
	box-sizing: content-box;
	display: flex;
	float: left;
	padding: 0.25rem 0.75rem;
}

/*------------------------------------------Content------------------------------------ */



.content {
  background-size: cover;
  display: flex;  /*-niet veranderen---- */
  width: 90%;
  margin-left: 5%;
  
}
.content img {
	max-width: 100%;
    max-height: auto;
}

.box {
	display: block;
	margin-top: 6rem; 
	contain: content;
	
}

h1 {
	color: white;

}

.sheet img {
	height: auto;
	width: 200px;
}

.uitleg {
	text-align: justify;
	position: relative;
	display: block;
}


.footer {
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.1);
	height: 140px;
	opacity: 0.4;
	background-image: url("../images/header_back.png")
}

/*------------------------------------------PLANNETJE---------------------------------------- */
.plan {
	position: absolute;
}


svg {
	max-width: 100%;
}

.cls-1 {
	fill: lightgray;
	border-width: 2px;
	border-color: red;
}

.cls-1:hover {
	fill: gray;
	
}

.info {
	position: absolute;
}

#work {
	font-weight: bold;
	font-size: 24px;
}

#materie {
	font-style: italic;
	font-size: 20px;
}

#info {
	font-weight: lighter;
	font-size: 14px;
}

#link {
	font-weight: lighter;
	font-size: 16px;
}
#link:hover {
	font-weight: lighter;
	font-size: 16px;
	color: lightgray;
	text-decoration: underline;
}




/*#--------------------------------- AUDIO STUFF--------------------------------------*/

.player {
	position: relative;
	
}

/*------------------------------------VIEWPORT SIZING------------------------------------------*/

@media screen and (min-width: 1000px) {


/*-------------NAVSHIT--------------*/	
	.nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 3fr) minmax(400px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
	
  }
  
	
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
	color: white;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #89F0E7;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }


/*-------------Content stuff--------------*/	
.content {
  background-size: cover;
  display: grid;  /*-niet veranderen---- */
  width: 60%;
  margin-left: 20%;
	}
}



@media screen and (max-width: 1400px) {
	svg {
		height: auto;
	}
}

@media screen and (max-width: 682px){
	
}



@media screen and (max-width: 1000px){
	.logo {
		margin-bottom: 120px;
	}
	
	.box {
	margin-top: 8rem;
	position: relative;
	}
	
	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 42px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 25px;
		margin-top: 1%;
	}
	.uitleg {
		font-size: 20px;
	}

	.foto {
		display: flex;
		justify-content: center;
	}
	img {
		max-height: 500px;
		margin: min(100% - 5);
		
	}
	nav{
		backdrop-filter: blur(6px);
	}
	nav a {
		font-size: 80px; 
	}
	
	
}

@media screen and (max-width: 600px){
	h1 {
		
		line-height: 20px;
		
	}
	.logo {
			margin-bottom: 80px;
	}

	h1 a {
		font-size: 38px;
	}
	header {
		padding: 0 0 0 0;
	}
	
	.box {
		margin-top: 5rem;
		position: relative;
	}
	
	.plan {
		position: absolute;
		top: 0;
	}
}

@media screen and (max-width: 550px){
	body {
		
	}
	
	.logosmall {
		display: block;
		margin-right: 4rem;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}
	.logo {
		display: none;
	}
	h1 a {
		font-size: 20px;
	}
	.box {
		margin-top: 5rem;
		
	}
	
	
	
}

}


