@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, 0.85)
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', serif;
	font-weight: 400;
	background-color: white;
	
}


/* -----------------------------------------------------HEADER------------------------------------------------ */

header {
  background-image: url("../images/header_back.png");
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
  display: auto;
}

h1 {
	position: relative;
	
}


  h1::before {
    content: '';
    display: block;
    height: 5px;
    background: #89F0E7;
    position: absolute;
    top: -.2em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 150ms;
  }
  
  


/*---------------------------------------------NAVBAR----------------------------------------- */
nav {
  position: absolute;
  text-align: right;
  right: 0px;
  width: 100%;
  top: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  background-color: rgba(0,0,0,0.77);
  padding-top: 10px;
    
	
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
	
  
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
	
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
	
}

nav a:hover {
  color: #89F0E7;
}


/*---------------------------------------------NAVBAR HAMBORGIR MENU SHIT----------------------------------------- */


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  cursor: pointer;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0%;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 5px;
  width: 2.8em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 12px;
}

.nav-toggle-label span::after {
  top: 12px;
}



.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*------------------------------------------LOGO ETC---------------------------------------- */

.logo a {
	text-decoration: none;
	box-sizing: content-box;
	display: flex;
	float: left;
	padding: 0.25rem 0.75rem;
}

/*------------------------------------------Content------------------------------------ */
.content {
  background-size: cover;
  display: flex;  /*-niet veranderen---- */
  width: 90%;
  margin-left: 5%;
  
}
.content img {
	max-width: 100%;
    max-height: auto;
}

h1 {
	color: white;

}

.sheet img {
	height: auto;
	width: 200px;
}

.uitleg {
	text-align: justify;
	position: relative;
	display: block;
	margin-top: 100px;
}

.box {
	display: block;
	margin-top: 80px;
}

.footer {
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.1);
	height: 140px;
}


.footer img {
	display:block;
	max-width: 100%;
    opacity: 0.6;
}

/*#--------------------------------- AUDIO STUFF--------------------------------------*/

.player {
	position: relative;
	
}

#pButton {
  float: left;
  background-color: white;
  border: none;
  margin-top: 0px;
  cursor: pointer;
}

#timeline {
  width: 86%;
  height: 2px;
  margin-top: 27px;
  margin-right: 1em;
  left:15px;
  float: right;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3); }	



#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer; }

#play-icon {
	border: white;
	background-color: white;
}





/*------------------------------------VIEWPORT SIZING------------------------------------------*/

@media screen and (min-width: 1000px) {
  
	
/*-------------NAVSHIT--------------*/	
	.nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(400px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
	
  }
  
	
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
	color: white;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #89F0E7;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }

	

/*-------------EIGEN STUFF--------------*/	
.content {
  background-size: cover;
  display: grid;  /*-niet veranderen---- */
  width: 60%;
  margin-left: 20%;
  
}

}

@media screen and (max-width: 430px) {
	.logo {
		opacity: 0;
	}
}

@media screen and (max-width: 1400px) {
	
#timeline {
  width: 80%;	
}
}

@media screen and (max-width: 667px){
	#timeline {
  width: 76%;
}
}



@media screen and (max-width: 1000px){
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 20px;
		margin-top: 1%;
	}
	.uitleg {
		font-size: 19px;
		margin-top: 14%;
	}

	.foto {
		display: flex;
		justify-content: center;
	}
	img {
		max-height: 500px;
		margin-left: auto;
		margin-right: auto;
		
	}
	nav a {
		font-size: 80px; 
	}
	
	.logo {
		max-width: 450px;
	}

	
}
